[Bb]uild/*

# Downloaded dependencies
thirdparty/dxc_2023_03_01/*
thirdparty/d3d12_agility_1.610.2/*
thirdparty/direct_storage_1.2.0/*
thirdparty/win_pix_event_runtime/*

# Shaders
*.bin

# Imgui
imgui.ini
